body
{
  color: rgb(0, 0, 0);
  background: #ff00ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(0, 255, 221);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
